/* .container {
  height: 100px;
  background-color: white;
  width: 100%;
} */

.logo {
  width: 200px;
}

.menuItem {
  @apply py-4 px-2;
}

.footer1Container {
  background-color: #630d17;
}

.footer2Container {
  background-color: #45060c;
  height: 60px;
  font-size: 70%;
  @apply w-full pt-2 pb-4;
}

.footerContact {
  font-size: 80%;
}

.btnCurriculum {
  background-color: white;
  color: #47080b;
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 300px;
  border: 1px dashed #47080b;
  @apply text-black rounded-xl md:mr-1 mt-1;
}

.btnSubmit {
  background-color: #47080b;
  color: white;
  font-size: 80%;
  @apply text-center rounded-xl md:mr-1 mt-1 w-full h-10;
}
