.container{
    height: 100px;
    background-color: white;
    width: 100%;
}
.logo{
    width: 200px;
}
.menuItem{
    @apply py-4 px-2;
}

.footer1Container{
    background-color: #630D17;
}

.footer2Container{
    background-color: #45060C;
    height: 60px;
    @apply w-full pt-4 pb-4;
}

.footerContact{
    font-size: 80%;
}

.btnCurriculum{
    background-color: white;
    color: #47080B;
    padding: 0.5em 0.5em 0.5em 0.5em;
    width: 300px;
    border: 1px dashed #47080B;
    @apply text-black rounded-xl md:mr-1 mt-1
}